.week {
    padding: 2px;
    font-size: 20px;
}
.week div{
   /* width: 267px; */
    width: 13%;
    display: inline-block;
    background-color: lightgray;
    border: 1px solid grey;
    cursor: pointer;
}
.day{
    position: absolute;
}
.day div {
    display: none;
    position: relative;
    width: 100%;
    cursor: pointer;
}
.day div:hover {
    background-color: blueviolet;
}
.week div:hover .day div{
    display: block;
    z-index: 1;
}