.five_heart {
    background-image: url(../img/cards.png);
    background-repeat: no-repeat;
    height: 200px;
    width: 145px;
    display: inline-block;
    background-position: -428px -590px;
}

.queen {
    background-image: url(../img/cards.png);
    background-repeat: no-repeat;
    height: 200px;
    width: 145px;
    display: inline-block;
    background-position: 0px -1783px;
}

.nine_diamond {
    background-image: url(../img/cards.png);
    background-repeat: no-repeat;
    height: 200px;
    width: 145px;
    display: inline-block;
    background-position: -288px -1383px;
}

.ace_clubs {
    background-image: url(../img/cards.png);
    background-repeat: no-repeat;
    height: 200px;
    width: 145px;
    display: inline-block;
    background-position: -140px -2180px;
}

.joker {
    background-image: url(../img/cards.png);
    background-repeat: no-repeat;
    height: 200px;
    width: 145px;
    display: inline-block;
    background-position: -288px -2380px;
}

/* second part with overlay */
.five_heart_overlay {
    background-image: url(../img/cards.png);
    background-repeat: no-repeat;
    height: 200px;
    width: 145px;
    display: inline-block;
    background-position: -428px -590px;
    margin-right: -2.7cm;
}

.queen_overlay {
    background-image: url(../img/cards.png);
    background-repeat: no-repeat;
    height: 200px;
    width: 145px;
    display: inline-block;
    background-position: 0px -1783px;
    margin-right: -2.7cm;
}

.nine_diamond_overlay {
    background-image: url(../img/cards.png);
    background-repeat: no-repeat;
    height: 200px;
    width: 145px;
    display: inline-block;
    background-position: -288px -1385px;
    margin-right: -2.7cm;
}

.ace_clubs_overlay {
    background-image: url(../img/cards.png);
    background-repeat: no-repeat;
    height: 200px;
    width: 145px;
    display: inline-block;
    background-position: -140px -2180px;
    margin-right: -2.7cm;
}

.joker_overlay {
    background-image: url(../img/cards.png);
    background-repeat: no-repeat;
    height: 200px;
    width: 145px;
    display: inline-block;
    background-position: -288px -2380px;
    margin-right: -2.7cm;
}