
.left_block {
    width: 15em;
    float: left;
    background-color: lightcoral;
    margin-right: 3px;
    
}
.right_up_block {
    background-color: lightblue;
    margin-bottom: 0.2em;
    overflow: hidden;
}
.right_up_block p img {
    float: right;
}
.footer {
    clear: both;
    background-color: lawngreen;
    height: auto;
}
.footer p {
    margin: 0.1em;
}