div {
    background-color: black;
    color: green;
    width: 400px;
    max-height: 150px;
    overflow: auto;
}
.list {
    width: 350px;
    list-style-type: upper-roman;
    font-style: normal;
}.list1 {
    width: 350px;
    list-style-type: lower-roman;
    font-style: italic;
}